* {
    font-family:'Courier New', Courier, monospace;
    font-weight:bold
}

#label:hover {
    text-decoration: underline;
    font-size: 20pt;
    color: rgb(14, 15, 109)
  }

body {
    background-image: url("1085082-cool-technology-backgrounds-1920x1080-download-free-2438296466.jpeg");
    background-size: cover;
    background-blend-mode: lighten;
}